{% extends 'base.html.twig' %}

{% block title %}Haie index{% endblock %}

{% block body %}
    <h1>Haie index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Code</th>
                <th>Nom</th>
                <th>Prix</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for haie in haies %}
            <tr>
                <td>{{ haie.code }}</td>
                <td>{{ haie.nom }}</td>
                <td>{{ haie.prix }}</td>
                <td>
                    <a href="{{ path('app_haie_c_r_u_d_show', {'code': haie.code}) }}">show</a>
                    <a href="{{ path('app_haie_c_r_u_d_edit', {'code': haie.code}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_haie_c_r_u_d_new') }}">Create new</a>
{% endblock %}
