{% extends 'base.html.twig' %}

{% block title %}Haie{% endblock %}

{% block body %}
    <h1>Haie</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Code</th>
                <td>{{ haie.code }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ haie.nom }}</td>
            </tr>
            <tr>
                <th>Prix</th>
                <td>{{ haie.prix }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_haie_c_r_u_d_index') }}">back to list</a>

    <a href="{{ path('app_haie_c_r_u_d_edit', {'code': haie.code}) }}">edit</a>

    {{ include('haie_crud/_delete_form.html.twig') }}
{% endblock %}
