<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" href="{{ asset('css/style.css') }}">
        {% block stylesheets %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </head>
    <body>
        <nav>
            <ul class="navbar">
                {% if is_granted('ROLE_USER') %}
                <li class="user-info">Bonjour, {{ app.user.nom }}</li>
                {% endif %}

                <li><a href="{{ path('app_accueil') }}">Accueil</a></li>
                <li><a href="{{ path('app_login') }}">Se connecter</a></li>
                {% if is_granted('ROLE_USER') %}
                <li><a href="{{ path('app_logout') }}">Se déconnecter</a></li>
                {% endif %}
                {% if not is_granted('ROLE_USER') %}
                <li><a href="{{ path('app_register') }}">S'inscrire</a></li>
                {% endif %}
                
                <li class="dropdown">Devis
                    <ul class="dropdown-menu">
                        <li><a href="{{ path('app_mesure') }}">Faire un devis en ligne</a></li>
                        {% if is_granted('ROLE_USER') %}
                        <li><a href="{{ path('app_mes_devis') }}">Mes devis</a></li>
                        {% endif %}
                    </ul>
                </li>

                <li class="dropdown">Gestion des types de mesHaies
                    <ul class="dropdown-menu">
                        <li><a href="{{ path('app_creer_haie') }}">Création</a></li>
                        <li><a href="{{ path('app_consultation_haie') }}">Consultation/Modification</a></li>
                    </ul>
                </li>
            </ul>
        </nav>

        {% block content %}{% endblock %}
    </body>
</html>
